<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
 id="WebApp_ID" version="6.0">
  <display-name>ServletProgramming</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>Day_25.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>Day_26.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Time</display-name>
    <servlet-name>Time</servlet-name>
    <servlet-class>Day_26_Time.Time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableOfFive</display-name>
    <servlet-name>TableOfFive</servlet-name>
    <servlet-class>Day_26_Table.TableOfFive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableOfFive</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MIMESet</display-name>
    <servlet-name>MIMESet</servlet-name>
    <servlet-class>Day_26_MIMESet.MIMESet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIMESet</servlet-name>
    <url-pattern>/mimeSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Image</display-name>
    <servlet-name>Image</servlet-name>
    <servlet-class>Day_27_Image.Image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Views</display-name>
    <servlet-name>Views</servlet-name>
    <servlet-class>Day_27_CountViews.Views</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Views</servlet-name>
    <url-pattern>/Views</url-pattern>
  </servlet-mapping>
</web-app>