<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
id="WebApp_ID" version="6.0">
  <display-name>Day_28_29</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationOnServlet</display-name>
    <servlet-name>RegistrationOnServlet</servlet-name>
    <servlet-class>registrationform.RegistrationOnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationOnServlet</servlet-name>
    <url-pattern>/registrationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOnServlet</display-name>
    <servlet-name>LoginOnServlet</servlet-name>
    <servlet-class>registrationform.LoginOnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOnServlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
</web-app>